<div class="container">
<div class="row-fluid">
	<div class="span9">
  <div class="page-header">
	<h1>Sources Result</h1>
  </div>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
<section class="j-result-sections">
  <div class="bs-docs-example">
	  <h3 id="headings"><a href="blog/demo">这是标题 这是标题 这是标题 这是标题</a></h3><p>这是内容这是内容 这是内容这是内容这是内容这是内容这是内容这是内容nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
   <div class="row-fluid">
	<div class="span3"><code>author:</code> <span class="dec">Daniel</span></div>
	<div class="span3"><code>tags:</code> <span class="dec">wiki</span></div>
	<div class="span3"><code>类别:</code> <span class="dec">分类</span></div>
	<div class="span3"><code>Date:</code> <span class="dec">2013-01-18</span></div>
	</div>
  </div>
</section>
<section class="j-result-sections">
  <div class="bs-docs-example">
	  <h3 id="headings">这是标题 这是标题 这是标题 这是标题</h3><p>这是内容这是内容 这是内容这是内容这是内容这是内容这是内容这是内容nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
   <div class="row-fluid">
	<div class="span3"><code>author:</code> <span class="dec">Daniel</span></div>
	<div class="span3"><code>tags:</code> <span class="dec">wiki</span></div>
	<div class="span3"><code>类别:</code> <span class="dec">分类</span></div>
	<div class="span3"><code>Date:</code> <span class="dec">2013-01-18</span></div>
	</div>
  </div>
</section>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
	</div>
	<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
			<li>
			<form class="form-search">
			  <div class="input-append">
				<input type="text" class="input-medium search-query">
				<button type="submit" class="btn">search</button>
			  </div>
			</form>		
		</li>
		</ul><ul class="nav nav-list bs-docs-sidenav affix" style="margin-top:80px">
          <li class=""><a href="#"><i class="icon-hand-left"></i>type1</a></li>
          <li class=""><a href="#"><i class="icon-hand-left"></i>type2</a></li>
          <li class="active"><a href="#"><i class="icon-hand-left"></i> type3</a></li>
        </ul>
      </div>	
</div>
</div>
<script type="text/javascript" src="/js/listnew.js"></script>
