<div class="hreo-unit">
    <h1>主页</h1>
    <p>欢迎使用</p>
    <p>
        <a href="/user/login" class="btn btn-primary btn-large">登录</a>
        <a href="/user/signup" class="btn btn-large">注册</a>
    </p>
</div>
