<div class="container">
    <!-- tab start -->
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#">
                    Home<span class="badge pull-right">42</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Books<span class="badge pull-right">42</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Movies<span class="badge pull-right">42</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- tab end -->

    <!-- content start -->
    <div class="col-md-10" id="content">
        
    </div>
    <!-- content end -->
</div>
