<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "
http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">beforeload</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/f2e">F2E</a></li>
                      <li><a href="/js">JavaScript</a></li>
                      <li><a href="#">NodeJs</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">乱七八糟 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
						
					</ul>
					<form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" disabled placeholder="Search disabled">
                    </form>
					
                    <ul class="nav pull-right">                        
                        <% if(locals.user){ %>
                            <li><a href="/logout">logout</a></li> 
                        <% } else { %>
                            <li><a href="/login">login</a></li>
                            <li><a href="/reg">register</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="container">
    <% if (locals.success){ %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= locals.success %>
            </div>
    <% } %>
    <% if(locals.error){ %>
        <div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= locals.error %>
        </div>
    <% } %>
    <%- body %>
    <hr />
        <footer>
            <p><a href="/u/beforeload" target="_blank">beforeload</a>2012</p>
        </footer>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</body>
</html>
