<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<title><%= title %></title>

    <link rel='stylesheet' href='/css/bootstrap.css' />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
<body>

<div class="wrapper">
<!-- HEADER BEGIN -->
  <div id="header">
    <div class="inner">
      <div id="logo"><a href="#">
        <img src="/images/logo-new.png"/></a>
      </div>
      <div class="block_slogan">
        <p>点评商务前端团队产品导航</p>
      </div>
      <div class="clearboth"></div>
      </div>
  </div>
<!-- HEADER END -->

<div id="content" class="page center">
	<%- body %> 
</div>
  
</div>
    <!-- FOOTER BEGIN -->
    <div id="footer">
      <div class="section_bottom">
        <div class="inner">
          <div class="block_footer_menu">
            <ul id="menu-footer" class="menu">
              <li>
                <a href="http://t.dianping.com/">点评团</a>
              </li>
              <li>
                <a href="http://f2e.dp/face/">Face</a>
              </li>
              <li>
                <a href="http://f2e.dp/blog/">Blog</a>
              </li>
              <li>
                <a href="http://f2e.dp/wiki/">Wiki</a>
              </li>
              <li>
                <a href="https://github.com/DPF2EBS">Git</a>
              </li>
            </ul>
          </div>                    
          <div class="block_copyrights">
            <p>2012-2013 F2E&nbsp;&&nbsp;Designed by Liangliang</p>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER END -->
</div>
</script>
</body>
</html>



