<div id='login'>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-3 control-label">邮箱：</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">密码：</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <div class="checkbox">
        <label>
          <input type="checkbox"><strong>记住我</strong>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button type="submit" class="d-btn-login btn btn-primary"><strong>登录<strong></button><a href="">没有账号，去注册</a>
    </div>
  </div>
</form>
</div>
