<form class="form-horizontal" enctype="multipart/form-data" method="post">
    <fieldset>
        <legend>上传产品导航</legend>
        <div class="control-group">
            <label class="control-label" for="producturl">Product Url:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="producturl" name="producturl" placeholder="Product Url" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="picture">上传图片:</label>
            <div class="controls">
                <input type="file" class="input-xlarge" id="picture" name="picture" placeholder="图片" />
                <p class="help-block">你的作品图片，用于显示。</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">简要描述:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="description" name="description" placeholder="简要描述" />
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">上传</button>
        </div>
    </fieldset>
</form>
