<form class="form-horizontal" method="post">
    <fieldset>
        <legend>产品导航上传</legend>
        <div class="control-group">
            <label class="control-label" for="picture">上传图片:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="picture" name="picture" placeholder="图片" />
                <p class="help-block">你的作品图片，用于显示。</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">简要描述:</label>
            <div class="controls">
                <textarea type="text" class="input-xlarge" id="description" name="description" placeholder="简要描述"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">上传</button>
        </div>
    </fieldset>
</form>
