<table>
    <tr>
        <td>M</td>
        <td>MM</td>
        <td>MM</td>
    </tr>
    <tr>
        <td>M</td>
        <td>MM</td>
        <td>MM</td>
    </tr>
    <tr>
        <td>M</td>
        <td>MM</td>
        <td>MM</td>
    </tr>
</table>
