.books-nav
  list-style: none

.thumb
  float: left
  margin: -1em 1em 1em 0em
  padding-bottom: 1em
  height: 100px
  width: 90px

.books .thumbnail
  float: left
  margin-right: 15px
  padding-top: 15px
  height: 140px
  width: 260px

.book-image
  width: 450px
  height: 450px
  overflow: hidden
  position: relative
  float: left
