body
  width:100%
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


#signup, #login
  width: 400px
  height: 200px
  position: absolute
  top: 50%
  margin-top: -100px

.d-btn-login
  strong    
    color: #FFF

.reading-list
  font-size: 18px
  tr
    th
      font-size: 20px
      text-align: center
    td
      text-align: center
