body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url('../imgs/bg1.jpg')
a
  color: #00B7FF

#login
  width: 400px
  height: 400px
  margin-top: 20%
  color: #FFF
  
.reading-list
  font-size: 18px
  tr
    th
      font-size: 20px
      text-align: center
    td
      text-align: center
