body
  width:100%
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: url('../imgs/bg1.jpg') no-repeat fixed center bottom
  overflow: hidden

#login
  width: 400px
  height: 400px
  color: #FFF
  position: absolute
  top: 40%
  input
    opacity: 0.6
    -moz-opacity: 0.6
  button
    opacity: 0.8
    -moz-opacity: 0.8

.d-btn-login
  strong    
    color: #FFF

.reading-list
  font-size: 18px
  tr
    th
      font-size: 20px
      text-align: center
    td
      text-align: center
