body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#signup,
#login {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}
.d-btn-login strong {
  color: #fff;
}
.reading-list {
  font-size: 18px;
}
.reading-list tr th {
  font-size: 20px;
  text-align: center;
}
.reading-list tr td {
  text-align: center;
}
#content {
  background-color: #ccc;
  height: 800px;
}
.book-listing.ng-enter,
.book-listing.ng-leave,
.book-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.book-listing.ng-enter,
.book-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.book-listing.ng-move.ng-move-active,
.book-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}
.book-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}
.book-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.view-container {
  position: relative;
}
.view-frame.ng-enter,
.view-frame.ng-leave {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}
.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
