body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.reading-list
  font-size: 18px
  tr
    th
      font-size: 20px
      text-align: center
    td
      text-align: center
