body {
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../imgs/bg1.jpg") no-repeat fixed center bottom;
  overflow: hidden;
}
#login {
  width: 400px;
  height: 400px;
  color: #fff;
  position: absolute;
  top: 40%;
}
#login input {
  opacity: 0.6;
  -moz-opacity: 0.6;
}
#login button {
  opacity: 0.8;
  -moz-opacity: 0.8;
}
.d-btn-login strong {
  color: #fff;
}
.reading-list {
  font-size: 18px;
}
.reading-list tr th {
  font-size: 20px;
  text-align: center;
}
.reading-list tr td {
  text-align: center;
}
