<content class="container-fluid" ng-controller="BookListCtrl">
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-11 col-md-8 books">
            <div ng-repeat="book in books | filter: query | orderBy: orderProp" class="thumbnail book-listing">
                <a href="#/books/{{ book._id }}" class="thumb">
                    <img ng-src="{{ book.imgUrl }}" />
                </a>
                <a href="#/books/{{ book._id }}">{{ book.title }}</a>
                <div>{{ book.desc }}</div>
                <div>{{ book.author }}</div>
                <span ng-repeat="tag in book.tags" class="label label-info">{{ tag }}</span>
            </div>
        </div>

        <ul class="col-xs-6 col-md-3 books-nav">
            <li>
            <button class="btn btn-primary" ng-click="open()"><strong>添加</strong>
                </button>
            </li>
            <li>
                <p>共有图书：{{ books.length }} 本</p>
            </li>
            <li>查找：
                <input class="" type="text" ng-model="query" />
                <p>查找图书：{{ query }}</p>
            </li>
            <li>排序：
                <select ng-model="orderProp">
                    <option value="title">书名</option>
                    <option value="releaseDate">出版日期</option>
                </select>
                {{ orderProp }}
            </li>
        </ul>
    </div>
    <!-- {{ books | json }} -->

  <script type="text/ng-template" id="add_book.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="modal-label">添加书单</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="book-title" class="col-sm-2 control-label">书名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-title" placeholder="Book Name">
                </div>
            </div>
            <div class="form-group">
                <label for="book-desc" class="col-sm-2 control-label">描述</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-desc" placeholder="Book Description">
                </div>
            </div>
            <div class="form-group">
                <label for="book-author" class="col-sm-2 control-label">作者</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-author" placeholder="Book Author">
                </div>
            </div>
            <div class="form-group">
                <label for="book-desc" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-tags" placeholder="Book Tags">
                </div>
            </div>
            <div class="form-group">
                <label for="book-press" class="col-sm-2 control-label">出版社</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-press" placeholder="Book Press">
                </div>
            </div>
            <div class="form-group">
                <label for="book-releasedate" class="col-sm-2 control-label">出版日期</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="book-releasedate" placeholder="Book Release Date">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">提交</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
    </div>
  </script>
</content>
