<div class="book-image">
    <img ng-src="{{ book.imgUrl }}" />
</div>
<h1>{{ book.title }}</h1>
<p>{{ book.desc }}</p>
<button type="button" class="btn btn-primary btn-sm" ng-click="open()" data-bookid="{{ book._id }}">
    <strong>修改</strong>
</button>
<button type="button" class="btn btn-danger btn-sm" ng-click="openRemove()" data-bookid="{{ book._id }}">
    <strong>删除</strong>
</button>

<ul>
    <li>
        <span>属性</span>
        <dl>
            <dt>Tags</dt>
            <dd ng-repeat="tag in book.tags">{{ tag }}</dd>
        </dl>
    </li>
    <li>
        <span>出版作者</span>
        <dd>{{ book.author }}</dd>
    </li>
    <li>
        <span>出版社</span>
        <dd>{{ book.press }}</dd>
    </li>
    <li>
        <span>出版日期</span>
        <dd>{{ book.releaseDate | date:"yyyy-MM-dd" }}</dd>
    </li>
</ul>

<script type="text/ng-template" id="update_book.html">
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="modal-label">更新图书信息</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label for="book-title" class="col-sm-2 control-label">书名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="book.title" value="{{ book.title }}" placeholder="Book Name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="book-desc" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="book.desc" value="{{ book.desc }}" placeholder="Book Description">
            </div>
        </div>
        <div class="form-group">
            <label for="book-author" class="col-sm-2 control-label">作者</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="book.author" value="{{ book.author }}" placeholder="Book Author">
            </div>
        </div>
        <div class="form-group">
            <label for="book-desc" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-9">
                <span ng-repeat="tag in book.tags">{{ tag }}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="book-press" class="col-sm-2 control-label">出版社</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="book.press" value="{{ book.press }}" placeholder="Book Press">
            </div>
        </div>
        <div class="form-group">
            <label for="book-releasedate" class="col-sm-2 control-label">出版日期</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="book.releaseDate" value="{{ book.releaseDate | date:'yyyy-MM-dd' }}" placeholder="Book Release Date">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="update()">更新</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
</script>

<script type="text/ng-template" id="remove_book.html">
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="modal-label">删除图书</h4>
</div>
<div class="modal-body">
    <center><h3>确定要删除{{ book.title }}这本书吗？</h3></center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="remove()">删除</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
</script>
