<div class="book-image">
    <img ng-src="{{ book.imgUrl }}" />
</div>
<h1>{{ book.title }}</h1>
<p>{{ book.desc }}</p>
<p>{{ book._id | checkmark }}</p>
<ul class="specs">
    <li>
        <span>属性</span>
        <dl>
            <dt>Tags</dt>
            <dd ng-repeat="tag in book.tags">{{ tag }}</dd>
        </dl>
    </li>
    <li>
        <span>出版作者</span>
        <dd>{{ book.author }}</dd>
    </li>
    <li>
        <span>出版社</span>
        <dd>{{ book.press }}</dd>
    </li>
    <li>
        <span>出版日期</span>
        <dd>{{ book.releaseDate | date:"yyyy-MM-dd" }}</dd>
    </li>
</ul>
